/* RESET */
body {
    margin:0;
    padding:0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    background-image: url('../img/20180414_104808.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    position: relative;
    min-height: 100vh
  
   
}

/* NAV BAR STYLE */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(169, 197, 216), white);
    font-family: 'Nunito Sans', sans-serif;
    /* flex-direction: column;
    background:lightblue url('../img/main.jpg') no-repeat 85% 25%;
    background-size: cover; */
   
}

h1 a{
    color: green;
    font-family: 'Caveat', cursive;
}
.hero {
    display:flex;
    flex-direction: column;
    
    /* margin:auto; */
    height: 50vh; 
    background:lightblue url('../img/right.jpg') no-repeat 85% 25%; 
     background-size: cover; 
    /* font-variant: small-caps; */
    /* width: 80%;  */
    font-family: 'Caveat', cursive;
    align-items: flex-end;
  
}
.description, .contact {
    display:flex; 
    /* flex-direction: column; */
    justify-content: space-around;
    font-family: 'Caveat', cursive;
    width: 80vw;
    margin: auto;
 
}
.fa-route {
    color:#faa13c;
    size: 2em;
}
.navigation {
    display: flex;

}
.logo {
    margin: 0 0 0em 4em
}

/* .logo a {
    color:#990000;
} */
.logo, .navigation {
 
    list-style: none;
    text-transform: capitalize;
}

.navigation a, .logo a {
    text-decoration: none;
    letter-spacing: 0.3rem;
  
}

.navigation ul {
    display:flex;
    list-style-type: none;
    /* justify-content: end; */
}

.navigation a {
    display: block;
    padding: 1em;
    color:#268545;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.navigation a:hover {
    color:white;
    background-color:#268545;
    border-radius: 15%;
}

.hero h1 {
    margin: 5% 10% 0 0;
    font-size: 3em;
    color:#268545
}

.hero p {
    font-size: 1.5em;
    margin-right: 10%;
    width: 25%;
    color:#268545
}

.hero button {
    background: #faa13c;
	padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: #268545;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Nunito Sans', sans-serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
    font-size: 20px;
    font-weight: 700;
    /* opacity: 0.7; */
    margin-right:18%;
}

/* REGISTRATION FORM */
.register {
    /* display: flex; */
    width:450px;
	padding:30px;
	margin:20px auto;
	background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    /* place-content: center;  */
   
}

.register h1 {
    background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: italic 30px 'Nunito Sans', sans-serif;
    
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}

.register p {
    font: italic 1em 'Nunito Sans', sans-serif;
}

.register label {
    display: block;
    color:#888;
    margin-bottom: 15px;
    font: 13px 'Nunito Sans', sans-serif;
}

.inner {
    padding: 20px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    display:block;
    box-sizing: border-box;
    width: 100%;
	padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.highlight {
    font: normal 20px 'Nunito Sans', sans-serif;
	color: #268545;
	margin-bottom: 5px;
}
.newsletter {
    color:#888;
    font: normal 20px 'Nunito Sans', sans-serif;
  
}

input[type='submit'] {
    background: #faa13c;
	padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: #268545;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Nunito Sans', sans-serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
    font-size: 15px;
    font-weight: 700;
    margin: 0 auto;
    opacity: 0.7;
    /* margin-right:18%; */
}


button:hover {
    opacity:1;
}

sup {
    color:red;
}
/* .cancelbtn {
    padding: 8px 20px 8px 20px;
    background-color: #268545;
    color: #faa13c;
  } */

  footer {
    position: absolute;
    bottom:0;
    width: 99.9%;
    background-color: lightskyblue;
    color: black;
    text-align: center;
    font-size: 12px;
    border: 1px solid black;
    text-transform: capitalize;
    /* position:fixed; */
}
/* .register form { 
    border: 2px solid green;
    padding: 2%;
    display: flex;
    flex-direction: column;
    
    /* positioning in the middle */
    /* position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);  */
    /* end of positionin in the middle */
 */
